body {
    background: linear-gradient(to top right, #65410f, #CA7F16);
    /* Fondo degradado con colores */
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.title {
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

.btn-circle.btn-xl {
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    border-radius: 100px;
    font-size: 24px;
    line-height: 1.33;
    color: #fff;
    border: 4px solid #ccc;
    padding: 0;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, filter 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-circle.btn-xl:hover {
    border-color: #999;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    filter: brightness(110%);
    transform: scale(1.2);
}

.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* Columnas de tamaño automático con un mínimo de 150px */
    gap: 20px;
    /* Espacio entre columnas */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container button {
    margin-bottom: 10px;
    /* Espacio entre el botón y la etiqueta */
}

.signature:hover+.polar {
    animation: bounce 2s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.polar {
    transition: transform 0.5s;
}

.polar:hover {
    animation: bounce 2s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@keyframes bounce {
    0% {
        transform: scale(2) translateY(0) translateX(0);
    }

    10% {
        transform: scale(2) translateY(-30px) translateX(0);
    }

    20% {
        transform: scale(2) translateY(0) translateX(0);
    }

    30% {
        transform: scale(2) translateY(-15px) translateX(10px);
    }

    40% {
        transform: scale(2) translateY(0) translateX(10px);
    }

    50% {
        transform: scale(2) translateY(-10px) translateX(16px);
    }

    60% {
        transform: scale(2) translateY(0) translateX(16px);
    }

    70% {
        transform: rotate(0deg) translateX(16px);
    }

    80% {
        transform: rotate(-180deg) translateX(1px);
    }

    90% {
        transform: rotate(-360deg) translateX(6px);
    }

    100% {
        transform: rotate(-540deg) translateX(2px);
    }
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 100px;
    width: 90%;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}